<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contacts.css">
<body>

<header class="section site-header">
    <div class="wrapper wide">
        <nav class="main-nav">
            <ul>
                <li><a th:href="@{'/shop'}">Shop</a></li>
                <li><a th:href="@{'/user'}">My Profile</a></li>
                <li><a th:href="@{'/post'}">Blog</a></li>
                <li><a th:href="@{'/subscription'}">Subscriptions</a></li>
                <li><a th:href="@{'/privacy-policy'}">Privacy Policy</a></li>
                <li><a th:href="@{'/contacts'}">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <h1>Contact Us</h1>

    <p>If you have a question about the app or your data, a feature request, an enhancement to existing functionality, or a bug to report... Email us, and we will get back to you as soon as possible.</p>

    <p>Email: <a href="mailto:support@modelcollectorapp.com" class="email-link">support@ToyCarCollectionApp.com</a></p>

</div>

<footer class="section section-footer">
    <div class="wrapper">
        <p>© 2025 My Toy Car Collection. All rights reserved.</p>
    </div>
</footer>

</body>
</html>