<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="top-buttons">
    <a th:href="@{/login}" class="">Login</a>
    <a th:href="@{/register}" class="">Register</a>
</div>
<div class="container">
    <h1>Welcome to the Toy Car Collection App</h1>

    <p>Welcome to Toy Car Collection App, the ultimate app for toy car enthusiasts! Whether you're a lifelong collector
        or just starting your journey, our app is designed to help you organize, showcase, and grow your toy car
        collection with ease.
        Driven by a love for miniature cars and the stories they hold, we're here to celebrate every car in your
        collection — from vintage classics to the latest limited editions.
    </p>
    <p>Join us on this journey and let’s build the ultimate toy car collection, one model at a time!</p>
</div>
<div class="footer">
    <p>© 2025 My Toy Car Collection. All rights reserved.</p>
</div>
</body>
</html>
