<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="top-buttons">
    <a th:href="@{/login}" class="">Login</a>
    <a th:href="@{/register}" class="">Register</a>
</div>
<div class="container">
    <h1>Welcome to the Toy Car Collection App</h1>
    <p>Your one-stop solution for managing your toy car collections with ease.</p>
</div>
<div class="footer">
    <p>© 2025 My Toy Car Collection. All rights reserved.</p>
</div>
</body>
</html>
