<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<main>
    <section class="section full-height">
        <form class="form" th:action="@{/register}" th:object="${registerRequest}" method="POST">
            <h3>Register Here</h3>

            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username" th:field="*{username}" required>

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" th:field="*{password}" required>

            <label for="country">Country</label>
            <select id="country" th:field="*{country}" >
                <option th:each="country : ${T(app.user.model.Country).values()}" th:value="${country}" th:text="${#strings.capitalize(#strings.toLowerCase(country))}"></option>
            </select>

            <button>Register</button>
            <p class="form-already">Already have an account? <a href="/login">Login</a>!</p>

        </form>
    </section>
</main>
<div class="footer"><p>© 2025 My Toy Car Collection. All rights reserved.</p></div>

</body>
</html>