<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriptions</title>
    <link rel="stylesheet" href="/css/subscription.css">
</head>
<body>

<header class="section site-header">
    <div class="wrapper wide">
        <nav class="main-nav">
            <ul>
                <li><a th:href="@{'/shop'}">Shop</a></li>
                <li><a th:href="@{'/user'}">My Profile</a></li>
                <li><a th:href="@{'/post'}">Blog</a></li>
                <li><a th:href="@{'/subscription'}">Subscriptions</a></li>
                <li><a th:href="@{'/privacy-policy'}">Privacy Policy</a></li>
                <li><a th:href="@{'/contacts'}">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <h1>App Paid Subscription</h1>
    <p class="subscription-info">The app and all features are completely free for the first 25 models you add . We ask a small subscription fee to cover hosting services, maintenance and further development costs in order to make this the best toy car collectors app!</p>

    <div class="pricing-table">

        <div class="plan">
            <h2>Silver</h2>
            <div class="price">$10.00/year</div>
            <ul class="features">
                <li>No ads</li>
                <li>Create up to 80 posts</li>
                <li>Unlimited albums</li>
                <li>Add up to 6 images per post</li>
            </ul>
            <a href="#" class="cta-button">Subscribe</a>
        </div>

        <div class="plan">
            <h2>Gold</h2>
            <div class="price">$15.00/year</div>
            <ul class="features">
                <li>No ads</li>
                <li>Unlimited posts</li>
                <li>Unlimited albums</li>
                <li>Add up to 6 images per post</li>
            </ul>
            <a href="#" class="cta-button">Subscribe</a>
        </div>

        <div class="plan">
            <h2>Platinum</h2>
            <div class="price">20.00/year</div>
            <ul class="features">
                <li>No ads</li>
                <li>Unlimited posts</li>
                <li>Unlimited albums</li>
                <li>Add up to 6 images per post</li>
                <li>Higher quality images on uploads</li>
            </ul>
            <a href="#" class="cta-button">Subscribe</a>
        </div>

    </div>
</div>

<footer class="section section-footer">
    <div class="wrapper">
        <p>© 2025 My Toy Car Collection. All rights reserved.</p>
    </div>
</footer>

</body>
</html>