<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/transactions.css">
</head>
<body>
<div class="transactions-container">
    <h1 class="transactions-title">Transaction Details</h1>
    <a href="/user" class="btn btn-info mb-3 btn-back" style="color: black !important;">Go back to profile</a>
    <div th:if="${user.transactions.isEmpty()}">
        <p class="text-danger">No transactions available.</p>
    </div>

    <table class="transactions-table" th:if="${not #lists.isEmpty(user.transactions)}">
        <thead>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Created On</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${user.transactions}">
            <td th:text="${transaction.receiver}"></td>
            <td th:text="${transaction.sender}"></td>
            <td th:text="'$' + ${transaction.amount}"></td>
            <td th:text="${#temporals.format(transaction.createdOn, 'yyyy-MM-dd HH:mm')}"></td>
            <td style="color: green; font-weight: bold;">SUCCESSFUL</td>
            <td>
                <form th:action="@{/transactions/delete/{id}(id=${transaction.id})}" method="post"
                      style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
